{% extends "base.html" %}
{% load static %}

{% block title %}
	Giới thiệu Locas Shoes Team
{% endblock title %}

{% block content %}
	<main class="site-about">
		<section class="section">
			<div class="container">
				<div class="overflow-hidden pb-80 mb-md-30"><img src="{% static "img/about/shop.jpg" %}" alt=""></div>
				<div class="row">
					<div class="col-md-4">
						<h2 class="h1 text-uppercase">Thành lập</h2>
					</div>
					<div class="col-md-8">
						<h3 class="text-uppercase mb-35">Câu chuyện thành lập</h3>
						<h2 class="h1 br-slogan mb-35">Nội dung</h2>
						<h3 class="br-slogan-note mb-60 mb-md-30">Nội dung 1.</h3>
						<div class="row mb-70 mb-md-30">
							<div class="col-md-6">
								<p>Viết gì đó</p>
							</div>
							<div class="col-md-6">
								<p>Viết gì đó.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4"><h2 class="h1 text-uppercase">Lucas Shoes<br>team</h2></div>
					<div class="col-md-8">
						<div class="row js-br-team br-slick-white">
							<div class="col-md-6">
								<div class="br-team">
									<div class="br-team__media">
										<div class="br-team__thumb"><a href="#"><img src="{% static "img/about/avatar-1.png" %}" alt=""></a></div>
										<ul class="nav-social">
											<li><a href="#" target="_blank"><i class="fa fa-instagram"></i> <span class="sr-only">Google Plus</span></a></li>
											<li><a href="#" target="_blank"><i class="fa fa-facebook"></i> <span class="sr-only">Facebook</span></a></li>
											<li><a href="#" target="_blank"><i class="fa fa-pinterest"></i> <span class="sr-only">Pinterest</span></a></li>
											<li><a href="#" data-toggle="tooltip" target="_blank" data-original-title="" title=""><i class="fa fa-twitter"></i> <span class="sr-only">Twitter</span></a></li>
										</ul>
									</div>
									<div class="br-team__info text-center"><h3 class="br-team__name">Quốc Thiêm</h3><span>CEO</span></div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="br-team">
									<div class="br-team__media">
										<div class="br-team__thumb"><a href="#"><img src="{% static "img/about/avatar-1.png" %}" alt=""></a></div>
										<ul class="nav-social">
											<li><a href="#" target="_blank"><i class="fa fa-instagram"></i> <span class="sr-only">Google Plus</span></a></li>
											<li><a href="#" target="_blank"><i class="fa fa-facebook"></i> <span class="sr-only">Facebook</span></a></li>
											<li><a href="#" target="_blank"><i class="fa fa-pinterest"></i> <span class="sr-only">Pinterest</span></a></li>
											<li><a href="#" data-toggle="tooltip" target="_blank" data-original-title="" title=""><i class="fa fa-twitter"></i> <span class="sr-only">Twitter</span></a></li>
										</ul>
									</div>
									<div class="br-team__info text-center"><h3 class="br-team__name">Quốc Thiêm</h3><span>CEO</span></div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="br-team">
									<div class="br-team__media">
										<div class="br-team__thumb"><a href="#"><img src="{% static "img/about/avatar-1.png" %}" alt=""></a></div>
										<ul class="nav-social">
											<li><a href="#" target="_blank"><i class="fa fa-instagram"></i> <span class="sr-only">Google Plus</span></a></li>
											<li><a href="#" target="_blank"><i class="fa fa-facebook"></i> <span class="sr-only">Facebook</span></a></li>
											<li><a href="#" target="_blank"><i class="fa fa-pinterest"></i> <span class="sr-only">Pinterest</span></a></li>
											<li><a href="#" data-toggle="tooltip" target="_blank" data-original-title="" title=""><i class="fa fa-twitter"></i> <span class="sr-only">Twitter</span></a></li>
										</ul>
									</div>
									<div class="br-team__info text-center"><h3 class="br-team__name">Quốc Thiêm</h3><span>CEO</span></div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="br-team">
									<div class="br-team__media">
										<div class="br-team__thumb"><a href="#"><img src="{% static "img/about/avatar-1.png" %}" alt=""></a></div>
										<ul class="nav-social">
											<li><a href="#" target="_blank"><i class="fa fa-instagram"></i> <span class="sr-only">Google Plus</span></a></li>
											<li><a href="#" target="_blank"><i class="fa fa-facebook"></i> <span class="sr-only">Facebook</span></a></li>
											<li><a href="#" target="_blank"><i class="fa fa-pinterest"></i> <span class="sr-only">Pinterest</span></a></li>
											<li><a href="#" data-toggle="tooltip" target="_blank" data-original-title="" title=""><i class="fa fa-twitter"></i> <span class="sr-only">Twitter</span></a></li>
										</ul>
									</div>
									<div class="br-team__info text-center"><h3 class="br-team__name">Quốc Thiêm</h3><span>CEO</span></div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock content %}