{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}
	Đăng Xuất
{% endblock title %}

{% block content %}
	<main class="site-main">
		<section class="section pb-80">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-md-offset-1">
						<h2 class="heading-page fz-25 mb-30">Đăng xuất thành công</h2>
						<a style="color:#7fc9c4" href="{% url 'accounts:login' %}">Đăng nhập</a> hoặc <a style="color:#7fc9c4" href="{% url "shop:home" %}">trở về trang chủ</a>
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock content %}